* {
    color: #ffffff;
    font-size: 100%;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1572610316386-5acd2602ef5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
section.sec1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 80px;
}
div.logo {
    float: left;
}
div.logo h2 {
    font-size: 200%;
    font-family: sans-serif;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav ul li a {
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
  }
.misha{
    text-align: center;
    font-family:sans-serif;
    font-weight:bold;
    font-size: 300%;
    margin-top: 300px;
}
button {
    display: inline-block;
    color: rgb(39, 35, 35);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .2em 5em;
    height: 50px;
    outline: none;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 41%;
  } 
button:hover { 
      background: rgba(255,255,255,.4); 
}
  button:active { 
      background: rgb(228, 218, 218);
}
